<p>Total: ${{total}} </p>

<button (click)="createNewProduct()" class="btn btn-danger" type="button">create</button>
<div class="row g-2 row-cols-lg-5 row-cols-2 row-cols-md-3 justify-content-around ">



  <app-product class=" d-flex align-items-stretch justify-content-center card-product card--hover" [product]="product"
    *ngFor="let product of products" (addProduct)="onAddToShoppingCart($event)" (showProduct)="onShowDetail($event)">

  </app-product>
  
   <button (click)="onLoadMore()" class="btn btn-outline-info">Load More</button> 

</div>

<!-- Canvas  producto -->


<div *ngIf="productChosen" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">
      {{ productChosen.title }}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <!-- carousel -->
        <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="First slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
          </ol>
          <!-- img -->
          <div class="carousel-inner" role="listbox">
            <div *ngFor="let img of productChosen.images" class="carousel-item ">
              <img [src]="img" class="w-100 h-50 d-block" alt="First slide" />

            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>

          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>

          </button>
        </div>
        <!--  -->
        <div class="col-12">
          <p>{{ productChosen.description }}</p>
          <div class=" gap-2">
            <button (click)="updateProduct()" type="button"  class="btn btn-primary">update</button>
            <button (click)="deleteProduct()" type="button"  class="btn btn-danger">delete</button>

          </div>
        </div>


      </div>
      
    </div>
  </div>
</div>